<!DOCTYPE html>
<html>
<head>
    <title>Google Maps with Flask</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB33ACVQvP1lE5gK5nnARM_VEmr0eSP_ic"></script>
</head>
<body>

<div id="map" style="height: 500px; width: 100%;"></div>

<script>
    function initMap(locations) {
        var center = {lat: locations[0].latitude, lng: locations[0].longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: center
        });

        for (var key in locations) {
            var location = locations[key];
            var marker = new google.maps.Marker({
                position: {lat: location.latitude, lng: location.longitude},
                map: map,
                title: location.name
            });

            marker.addListener('click', function() {
                alert('You clicked on ' + location.name);
            });
        }
   }

    // Fetch data from /l endpoint and then initialize the map
    fetch("https://apit24.onrender.com/l")
        .then(response => response.json())
        .then(data => {
            var locationsArray = Object.values(data); // Convert the object to an array
            initMap(locationsArray);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

</script>

</body>
</html>
