<!DOCTYPE html>
<html>
<head>
    <title>Google Maps with Flask</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB33ACVQvP1lE5gK5nnARM_VEmr0eSP_ic"></script>
</head>
<body>

<div id="map" style="height: 500px; width: 100%;"></div>
<button onclick="downloadData()">Download Data</button>

<script>
    var locations = [
        // Sample data for demonstration purposes
        {latitude: 40.730610, longitude: -73.935242, name: "Location 1"},
        {latitude: 41.730610, longitude: -74.935242, name: "Location 2"}
    ];

    function initMap() {
        var center = {lat: locations[0].latitude, lng: locations[0].longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: center
        });

        for (var i = 0; i < locations.length; i++) {
            var location = locations[i];
            var marker = new google.maps.Marker({
                position: {lat: location.latitude, lng: location.longitude},
                map: map,
                title: location.name
            });

            marker.addListener('click', function() {
                alert('You clicked on ' + location.name);
            });
        }
    }

    function downloadData() {
        var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(locations));
        var downloadAnchorNode = document.createElement('a');
        downloadAnchorNode.setAttribute("href", dataStr);
        downloadAnchorNode.setAttribute("download", "locations_data.json");
        document.body.appendChild(downloadAnchorNode);
        downloadAnchorNode.click();
        downloadAnchorNode.remove();
    }

    google.maps.event.addDomListener(window, 'load', initMap);
</script>

</body>
</html>
